#app {
  overflow: auto;
  color: white;
  height: 100%;
  width: 100%;
  /* background-color: #141618; */
}

html, body {
  background: #25272a;
  height: 100vh;
  width: 100vw;
  color: white;
}
.van-field {
  background-color: transparent;

  &.van-cell {
    width: inherit;
    border: 1px solid #aaa;
    border-radius: 10px;
    margin: 0 10px;
    box-sizing: border-box;

    &:after {
      border-bottom: none;
    }
  }
  
  .van-field__control {
    /* color: white; */
  }
}
